<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Open Kitchen{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item brand-text" href="{{ url_for('index') }}">
                    Open Kitchen
                </a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{{ url_for('recipes.index') }}">Recipes</a>
                    
                    {% if g.user %}
                    <a class="navbar-item" href="{{ url_for('dashboard.index') }}">My Kitchen</a>
                    
                    {% if g.user.role_name == 'Curator' %}
                    <a class="navbar-item" href="{{ url_for('admin.index') }}">Admin</a>
                    {% endif %}
                    {% endif %}
                </div>

                <div class="navbar-end">
                    {% if g.user %}
                    <div class="navbar-item">
                        <div class="avatar" title="{{ g.user['username'] }}">
                            {{ g.user['username'][0].upper() }}
                        </div>
                    </div>
                    <a class="navbar-item" href="{{ url_for('auth.logout') }}">Logout</a>
                    {% else %}
                    <a class="navbar-item" href="{{ url_for('auth.register') }}">Register</a>
                    <a class="navbar-item" href="{{ url_for('auth.login') }}">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container is-max-desktop">
            {% for message in get_flashed_messages() %}
                <div class="notification is-custom">
                    <button class="delete"></button>
                    {{ message }}
                </div>
            {% endfor %}

            {% block content %}{% endblock %}
        </div>
    </section>

    <script>
        // Bulma Delete button logic
        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                const $notification = $delete.parentNode;
                $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                });
            });
        });
    </script>
</body>
</html>
